body {
  background-color: #e3e3e3;
}

.container-wrapper {
  margin: 50px;
  position: relative;
}
.header-text {
  font-size: 20px;
}
.input-data {
  width: 100%;
  height: 50vh;
  background-color: #fff;
}
.api-data-table {
  margin-top: 40px;
  height: 50vh;
  background-color: #fff;
}
.text {
  position: absolute;
  left: 50px;
  top: 90px;
  font-size: 18px;
  color: #282c35;
  margin-bottom: 50px;
}
.input-form {
  display: grid;
	grid-gap: 30px;
	grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
	justify-items: end;
  width: 100%;
}
.form-control {
  left: 50px;
  top: 90px;
  width: 100%;
}

.btn-search {
  border:none;
  min-width: 220px;
  min-height: 55px;
  background-color: #29AB87;
  position: absolute;
  left: 530px;
  bottom: 498px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight:bold;
}
